<% @page_title = "Edit Account" %>

<%= link_to("<< Account Details", user_path(@user), :class => 'back-link') %>

<div class="users edit">
  <h2>Edit Account</h2>

  <%= form_for(@user) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Edit User") %>
    </div>

  <% end %>
</div>
